<link rel="stylesheet" href="/stylesheets/list.css">
<div class="col-sm-12 page-head">
  <h2><span class="label label-lg thema-color"><%= @user.user_name %>の支援表明一覧</span></h2>
</div>


<div class="container-inner inner-default clearfix">
  <% @shelter_items.each do |shelter_item| %>
    <% item = Item.find(shelter_item.item_id) %>
    <% shelter = Shelter.find(shelter_item.shelter_id) %> 
    <div class="item-box">
      <div class="image"> 
        <div class="img-wrap">
          <img src="<%= item.image_url %>" alt="item.name">
          <div class="buttons">
              <% if session[:type] !=nil %>
                <a href="<%=item.item_url%>" target="_blank">
                  <button class="btn btn-primary">詳細</button>
                </a>
                <form action="/support/delete/<%= shelter_item.id %>" method="post">
                  <input type="submit" value="キャンセル" class="btn btn-warning">
                </form>
              <% end %>
            </div>

        </div>
      </div>
      <div class="detail">
        <p class="title"><%= item.name %></p>
        <p><%= shelter.shelter_name %>に寄付</p>
      </div>
    </div>
  <% end %>
</div>