<link rel="stylesheet" href="/stylesheets/list.css">

<div class="col-sm-offset-1 col-sm-11">
  <h1><span class="label label-lg thema-color"><%= @shelter.shelter_name %>の必要物資</span></h1>
</div>


<div class="container-inner inner-default clearfix">
  <% if @shelter_items %>
    <% @shelter_items.each do |item| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% if item.image_url %>
              <img src="<%= item.image_url %>" alt="item.name">
            <% else %>
              <p>no image</p>
              <!-- ここにイメージない時の画像貼る -->
            <% end %>
            <div class="buttons">
              <a href="#">
                <button class="btn btn-primary">詳細</button>
              </a>
              <% if session[:type] == "user" %>
                <form action="/support" method="post">
                  <%# hiddenを使うよりいい方法ありそう %>
                  <input type="hidden" name="shelter_id" value="<%= @shelter.id %>" />
                  <input type="hidden" name="item_id" value="<%= item.id %>" />
                  <input type="submit" value="支援する" class="btn btn-warning">
                </form>
              <% end %>
            </div>
          </div>
        </div>
        <div class="detail">
          <% users = ShelterItem.find_by(item_id: item.id, shelter_id: @shelter.id).users.all %>

          <div class="support-count"><%= users.count %>人が支援!!</div>
          
          <div class="price"><%= item.price %>円</div>
          <p class="title"><%= item.name %></p>

        </div>
      </div>
    <% end %>
  <% end %>
</div>
