<link rel="stylesheet" href="/stylesheets/list.css">


<div class="container-inner inner-default clearfix">
  <div class="item-box">
    <div class="image">
      <div class="img-wrap">
        <% if @item.image_url %>
          <img src="<%= @item.image_url %>" alt="item.name">
        <% else %>
          <p>no image</p>
          <!-- ここにイメージない時の画像貼る -->
        <% end %>
        <div class="buttons">
          <a href="<%=@item.item_url%>" target="_blank">
            <button class="btn btn-primary">詳細</button>
          </a>
        </div>
      </div>
    </div>
    <div class="detail shelter-count">
          <p><%= @users.count%>人が支援表明<span>
          <p class="title">物資名:<%= @item.name%></p>
          <p class="price">値段: <%= @item.price %>円</p>
    </div>
  </div>
  <div class="col-sm-12 page-head">
  <h2><span class="label label-lg thema-color">支援ユーザ一覧</span></h2>
</div>
  <% @users.each do |user| %>
    <p class="user-name"><span class="label label-info"><%= user.user_name %></span></p>
  <% end %>
</div>