<link rel="stylesheet" href="/stylesheets/list.css">

<div class="col-sm-12 page-head">
  <h2><span class="label label-lg thema-color"><%= @shelter.shelter_name %>への支援希望</span></h2>
</div>


<div class="container-inner inner-default clearfix">
  <% if @shelter_items %>
    <% @shelter_items.each do |item| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% if item.image_url %>
              <img src="<%= item.image_url %>" alt="item.name">
            <% else %>
              <p>no image</p>
              <!-- ここにイメージない時の画像貼る -->
            <% end %>
            <div class="buttons">
              <a href="<%=item.item_url%>" target="_blank">
                <button class="btn btn-primary">詳細</button>
              </a>
              <form action="/show_support_users" method="post">
                <input type="hidden" name="item_id" value="<%= item.id %>" />
                <input type="hidden" name="shelter_id" value="<%= @shelter.id %>" />
                <input type="submit" value="支援者一覧" class="btn btn-warning">
              </form>
            </div>
          </div>
        </div>
        <div class="detail shelter-count">
          <!-- <p>避難所名:<% item.shelters.each do |shelter|%><span><%= shelter.shelter_name %></span> <%end%>
          </p> -->
          <% users = ShelterItem.find_by(item_id: item.id, shelter_id: @shelter.id).users.all %>
          <p><%= users.count %>人が支援意思あり</p>
          <p class="title">物資名:<%= item.name%></p>
          <p class="price">値段: <%= item.price %>円</p>
        </div>
      </div>  
    <% end %>
  <% end %>
</div>
